body#wrapper {
  background:#666666;
  font-family:Arial,helvetica,sans-serif;
  font-size:14px;
	width:900px;
	margin:0px auto;
	border:1px solid #bbb;
	border-top:0;
	border-bottom:0;
  	
}
#content{
  background-color:#eae8d3;
  #content-left {
  	width:180px;
  }

  #content-left {
  	width:180px;
  }

  #content-main {
  	margin-left:10px;
  	width:500px;
  	height:100%;
  }
}

.bulky-navbar-inner{
  font-family:BRAGGADOCIO;
  font-size:40px;
  padding: 15px 10px;
}

nav#sidebar{
  background-color:#EFD961;
  float:left; 
  height:100%;
  width:200px;
  font-size:14px;
  padding:15px 30px;
  position:fixed;
  margin-top: -10px;
  
}
#sidebar a:link,a:visited{
    color:#003366;
    text-decoration:none;
}

#sidebar li{
    list-style:none;
    padding:5px 0;
}

.bulky-container {
  height:100%;
}
#table{
  padding-top:10px;
}
table.table{
  margin: 0 0 30px 310px;
  background-color:white;

}





