html, body{
  height:100%;
}
body#wrapper {
  background:#bbb;
  font-family:Arial,helvetica,sans-serif;
  font-size:14px;
	width:900px;
	margin:0px auto;
	border:1px solid #bbb;
	border-top:0;
	border-bottom:0;
}
#content{
  background-color:#fffffa;
  #content-left {
  	width:180px;
  }

  #content-left {
  	width:180px;
  }
}
#content-main {
	width:500px;
	height:100%;
	margin-left:310px;
}
.bulky-navbar-inner{
  font-family:BRAGGADOCIO;
  font-size:40px;
  padding: 15px 10px;
}

nav#sidebar{
  background-color:#EFD961;
  float:left; 
  height:100%;
  width:200px;
  font-size:14px;
  padding:15px 30px;
  position:fixed;
  
}
#sidebar a:link,a:visited{
    color:#003366;
    text-decoration:none;
}

#sidebar li{
    list-style:none;
    padding:5px 0;
}

.bulky-container {
  height:100%;
}

h2{
  padding-top:20px;
  margin-top:0;
}
#table{
  padding-top:10px;
  height:100%;
}
table{
  width:100%;
  border-collapse:collapse;
  height:100%;
  background-color:transparent;

}





