html, body{
  height:100%;
}
body#wrapper {
  background:rgb(39, 37, 37);
  font-family:Arial,helvetica,sans-serif;
  font-size:14px;
	width:900px;
	margin:0px auto;
}
#content{
  background-color:#fffffa;
  overflow:auto;
  min-height:100%;
}
#content-left {
	width:180px;
}
#content-main {
	width:500px;
	height:100%;
	margin-left:330px;
}
.bulky-navbar-inner{
  font-family:BRAGGADOCIO;
  font-size:40px;
  padding: 15px 10px;
}
.bulky-container{
  padding: 40px 0px;
}

nav#sidebar{
  background-color:#EFD961;
  float:left; 
  height:100%;
  width:200px;
  font-size:19px;
  padding:15px 30px;
  position:fixed;
  
}

#sidebar a:link,a:visited{
  font-weight: bold;
  text-shadow: 0.1em 0.1em rgb(102, 102, 102);
  color:rgb(12, 82, 153);
  text-decoration:none;
  
}
#sidebar ul li{
  list-style:none;
  padding:7px 0;
}

.bulky-navbar-inner a#logo{
  text-shadow:none;
}
h2{
  margin-top:0;
  float: right;
  text-shadow: 0.1em 0.1em 0.2em rgb(146, 146, 146);
}
table{
  width:100%;
  border-collapse:collapse;
  background-color:transparent;
}
thead tr{
  background-color:#003366;
  color:white;
  background-image: -webkit-linear-gradient(rgb(5, 97, 189),#003366);
}

.table th, .table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
  vertical-align: middle;

}
.button_to input{
  color: rgb(88, 83, 71);
  padding: 8px;
  background-color: gold;
  border-radius: 16px;
} 
div.flash-notice{
  border:solid 1px rgb(157, 219, 194);
  padding:6px 7px;
  border-radius:6px;
  background-color:rgb(69, 226, 144);
  text-align:center;
  margin-bottom:16px;
}