base: &base
  adapter: mysql2
  host: localhost
  user: root
  password:
  pool: 5
  timeout: 5000

development:
  database: bulky_dev
  <<: *base

test:
  database: bulky_test
  <<: *base

production:
  database: bulky_pro
  <<: *base
