%tr
  %td
    = bulk_update.id 
  %td 
    = bulk_update.ids.count
  %td
    = button_to "View" , bulky_show_path(id: bulk_update.id), method: :get
    = button_to "Retry", bulky_retry_path(model: model, id: bulk_update.id), method: :put


